POSTGRES_HOST=localhost
# POSTGRES_HOST_INJECT=localhost
POSTGRES_HOST_INJECT=psql
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=app
POSTGRES_CONN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST_INJECT}:5432/${POSTGRES_DB}

JWT_SECRET_KEY=test

BACKEND_PORT=8000